@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Varela";
  src: url(/fonts/varela.ttf) format('truetype');
}

@font-face {
  font-family: "Signika";
  src: url(/fonts/signika.ttf) format('truetype');
}

body{
  margin: 0px;
  padding: 0px;
}
